<HTML>
<HEAD>
<TITLE>Dan's share portfolio</TITLE>
<SCRIPT SRC="jquery-1.11.3.js"></SCRIPT>
<link rel="stylesheet" type="text/css" href="mystyle.css">
<script src="portfolio/sorttable.js"></script>
<script src="portfolio/portfolio.js"></SCRIPT>
</HEAD>
<BODY>
<DIV ID="REPLACEME"></DIV>
<SCRIPT SRC="standard.js"></SCRIPT>
<STYLE>.dantable, .dantable TD, .dantable TH{font-size:10pt;}</STYLE>
<DIV>
  <TABLE WIDTH=100% CELLSPACING=2>
    <TD VALIGN="top">
    ###CURRENT###
    ###PREVIOUS###
    </TD>
    <TD valign="top">
    ###PROFIT###
    ###SIZE###
    ###NET###
    ###SECTOR###
    ###CLASS###
    </TD>
  </TABLE>
</DIV>
<DIV ID="DETAIL" style="z-index: 10;position: absolute;left: 100;top: 100;font-size:12px;display:none">
  <TABLE ID="DETAIL_TABLE" onClick="detailBoxHide()" CLASS="clickable" bgcolor=#ffffff BORDER=5 BORDERCOLOR="#ffffff" CELLPADDING=2 CELLSPACING=0  style="font-size:12px; position:fixed;">
  </TABLE>
</DIV>
</BODY>
</HTML>
